@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<img src="~/css/meme.jpg" style="width: 100px; height: 100px;" alt="Meme">
<button class="btn btn-info" onclick="alert('Mi nombre es José Pérez y mi hobbie es Nadar.');">Mostrar Información</button>